<header class="search-input">
  
  <input type="search" (keyup)="searchTextChange.next($event.target.value)"/>
  <span class="fa fa-search"></span>
</header>
<main>
  <ul *ngIf="games" class="games-list">
    <li *ngFor="let game of gamesResults" class="game-card">
      <app-game [gameData]="game"></app-game>
    </li>
  </ul>
</main>  
<aside>
  <div id="filter-open-close">
    <span class="text-90">Filters</span>
    <span [@openClose]="isOpen ? 'hide' : 'show'" class="fa fa-angle-left" (click)="openClose()"></span>
    <span [@openClose]="isOpen ? 'show' : 'hide'" class="fa fa-angle-right" (click)="openClose()"></span>
  </div>
  <app-filter-box [@openClose]="isOpen ? 'open' : 'closed'" class="filters-container"></app-filter-box> 
</aside>
