<article>
  <div class="game-img-wrapper"><img class="game-card-img" [src]="gameData.imageUrl"></div>
  <header>
    <div>
      <h1 class="game-name">{{gameData.name}}</h1>
      <div>
        <span *ngFor="let i of [1,2,3,4,5]" class="fa fa-star" [class.checked]="i <= rate"></span>
      </div>
      <h5 class="game-owner">{{gameData.artist}}, {{gameData.designer}}</h5>
    </div>
  </header>

  <div class="game-rules">
    <section>
      <i class="fa fa-users"></i>
      <span>{{gameData.minNumberOfPlayers}}</span> - <span>{{gameData.maxNumberOfPlayers}}</span>
    </section>
    <section>
      <i class="fa fa-clock-o"></i>
      <span>{{gameData.minPlayingTime}}min</span>
    </section>
    <section>
      <span>{{gameData.minAge}}+ </span>
    </section>
  </div>
  <div class="game-info">
    <span>{{gameData.year}}</span>,
    <span class="game-publisher">by {{gameData.publisher}}</span>

  </div>



</article>