<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="item">
        <label for="">User</label>
        <input type="text" formControlName = "userName">
      </div>
      <div class="item">
        <label for="">Password</label>
        <input type="password" formControlName = "password">
      </div>
      <button type="submit">
        LOGIN
        <span class="fa fa-arrow-right"></span>
      </button>
      
      <label class="error-message" *ngIf="errorLogin">No chyba nie takie bylo haslo!</label>
    </form>
  </div>